<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">resyncTest</a>

    <div class="right menu">
      <ng-container *ngIf="signedin$ | async">
        <a class="ui item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="ui item"  (click)="onSignout()">Sign Out</a>
      </ng-container>
      <ng-container *ngIf="!(signedin$ | async)">
        <a class="ui item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Sign In</a>
      <a class="ui item" routerLink="/register" routerLinkActive="active">Register</a>
      </ng-container>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

