<h1>Employees</h1>
<a routerLink="/employees/new" class="ui button primary">New</a>

<table classNames="striped celled"  class="ui table">
  <thead>
    <tr>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        D.O.B
      </th>
      <th>
        Organization
      </th>
      <th>
        Department
      </th>
      <th>
        Work Title
      </th>
      <th>
        Total Experience
      </th>
      <th>
        Misc. Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of data">
      <td>
        {{ record.firstName  }}
      </td>
      <td>
        {{ record.lastName }}
      </td>
      <td>
        {{ record.dob | date: "dd MMM yyyy" }}
      </td>
      <td>
        {{ record.organization.name }}
      </td>
      <td>
        {{ record.department.description }}
      </td>
      <td>
        {{ record.workTitle }}
      </td>
      <td>
        {{ record.totalExperience }}
      </td>
      <td>
        <div class="ui buttons small">
          <a class="ui button" [routerLink]="record._id">Edit</a>
          <button class="ui button" [id]="record._id" (click)="deleteHandler(record._id)" >Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
