<h1>Departments</h1>
<a routerLink="/departments/new" class="ui button primary">New</a>

<table classNames="striped celled"  class="ui table">
  <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Owner
      </th>
      <th>
        Organization
      </th>
      <th>
        Working Time
      </th>
      <th>
        Working Days
      </th>
      <th>
        Misc. Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of data">
      <td>
        {{ record.description }}
      </td>
      <td>
        {{ record.owner }}
      </td>
      <td>
        {{ record.organization.name }}
      </td>
      <td>
        {{ record.workingTime }}
      </td>
      <td>
        {{ record.workingDays }}
      </td>
      <td>
        <div class="ui buttons small">
          <a class="ui button" [routerLink]="record._id">Edit</a>
          <button class="ui button" [id]="record._id" (click)="deleteHandler(record._id)" >Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
