<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      {{ stats.orgNum }}
    </div>
    <div class="label">
      Total # Organizations
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{ stats.deptNum }}
    </div>
    <div class="label">
      Total # Departments
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{ stats.employeeNum }}
    </div>
    <div class="label">
      Total # Employees
    </div>
  </div>
</div>
